@CHARSET "UTF-8";

#wrap {
	width: 1000px;
	height: 600px;
	margin: auto;
}

#wrap #findid {
	width: 440px;
	height: 500px;
	border-radius:10px;
	border: 1px solid gray;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	padding-left: 20px;
	padding-top: 10px;
	background-color: white;
}

#wrap #findpwd {
	width: 440px;
	height: 500px;
	border-radius:10px;
	border: 1px solid gray;
	float: left;
	margin-left: 70px;
	margin-top: 40px;
	padding-left: 20px;
	padding-top: 10px;
	background-color: white;
}

#wrap #findid #findid_insert {
	margin-top: 30px;
}

#wrap #findpwd #findpwd_insert {
	margin-top: 26px;
}